<a href="https://colab.research.google.com/github/sumitpai/Python/blob/master/1_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why should you (researchers/staticians) learn programming?
 
- Communication with computer
- Prototyping ideas
- Automation
- Save time
- Save money

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

# Why Python
*   Simple
*   Interpreted
*   Object Oriented
*   High Level APIs â€“ for UI development, web development, statistics, deep learning, etc.
*   Extensible - We can wrap code in other languages and use it within python

Github released a list of [top ten programming languages](https://octoverse.github.com/) used by it's contributors in 2020. This is how it looks:

<img src="https://drive.google.com/uc?export=view&id=11YhnBFw67m6tilgcY1xa-Ws5RZqzEMw1" width="70%" height="70%"/>

<br><br><br><br><br><br>

# Rererence Materials for the Course
- Python 3 [documentation](https://www.python.org/doc/)
- [Python for Everbody](https://www.py4e.com/book.php) book
- Google colab notebooks
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

# First Python Program

Let's write a program that prints "Hello World"

In [ ]:
print('Hello World', 'Hi')

Hello World Hi

`print` is a built-in **function** that takes in **arguments** which are displayed on the screen. Here we pass a string 'Hello World' which gets printed on the screen.

A function can be called by typing its name, followed by open-close parenthesis. Some functions require input arguments. These input values are passed to the function inside the parenthesis.

We will explore functions in detail in the next session.

Python programs are usually written in a file (called **script**) and end with a **.py** extension. To run the program, we invoke the python interpreter and pass the name of the script.


```
$ python hello.py
Hello World
```

Here is another program which asks the user to enter a name and welcomes the user.

In [ ]:
user_name = input('Enter your name: ')
print('Hello ', user_name, '. Welcome to the class of Python Programming.')

Enter your name: Sumit
Hello  Sumit . Welcome to the class of Python Programming.

`input` is another useful function, which takes in an argument which is displayed on the screen. It waits for user to enter some value and returns the value as a string back to the program. You can store the value and use it for different purposes in your script.

You may also notice that the `print` function can take multiple arguments as inputs. All the inputs to the `print` function are **evaluated** and displayed on the screen.

<br><br><br><br><br><br><br><br><br><br><br><br>

# Variables, Expressions and Statements


## Variables

Variable refers to a memory location where the data is stored. We can create a variable and assign a value to it using the assignment operator '='. 

```
variable_name = value
```
A variable must be **initialized** before it can be used. One way to initialize the variable is using the above syntax.

In [ ]:
name = 'Sumit'

The above assignment just stores the string value 'Sumit' in the variable `name`.

To display the contents of the variable, you can use the print function and pass the variable to print as an argument.

In [ ]:
print(name)

Sumit

In [ ]:
height_in_cms = 172
print('Height:', height_in_cms, 'cm')

Height: 172 cm

`height_in_cms` is a variable which stores `int` or integer value. Let us now convert this to feet.

In [ ]:
height_in_ft = height_in_cms / 30.48
print('Height:', height_in_ft, 'ft')

Height: 5.6430446194225725 ft

You will notice that the displayed result is not integer. It is floating point value.

### Variable Type
To know the type of variable, use the `type` function and pass the variable as argument.

In [ ]:
print(type(name))
print(type(height_in_cms))
print(type(height_in_ft))

<class 'str'>
<class 'int'>
<class 'float'>

<br><br><br><br><br><br><br><br><br><br><br><br>

### Naming rules and guidelines
Rules:
- Variable names should start with a letter or underscore
- Variable names can contain character, number or underscore
- Variable names cannot be [keywords](https://docs.python.org/3/reference/lexical_analysis.html#keywords)

Syntatically correct names:

```name, height_in_cms, name134, for_```

Syntatically incorrect names:

```1name, height in cms, name@134, for```

If you use incorrect names, you will get syntax errors

In [ ]:
for = 10

SyntaxError: ignored

Apart from the above rules, to make the code readable, there are various guidelines which a programmer usually follows. One such style is [PEP-8](https://www.python.org/dev/peps/pep-0008/). 

According to PEP-8, a variable name must be lowercase single letter, word or words. If using words, separate them with underscore.

If you do not follow these guidelines, you wont get syntax errors and the script will run normally.

In [ ]:
He_IGh_tInC_mS = 172
print(He_IGh_tInC_mS)

172

<br><br><br><br><br><br><br><br><br><br><br><br>

### Problem

Get an input from the user(say "Sumit") and display "Hello Sumit"

Hint:
- use `input` function
- store results in a variable
- display the result by passing arguments to `print` function

#### Solution

In [ ]:
name = input('Enter your name:')
print('Hello ', name)

Enter your name:Sumit
Hello  Sumit

<br><br><br><br><br><br><br><br><br><br><br><br>

## Statements

A statement is a basic unit of code which a python interpreter can execute. A script consists of multiple statements. Interpreter executes the statements as it encounters them.

In [ ]:
name = 'Sumit'
print('Name:', name)

print('Company:', company_name)
company_name = 'Accenture'

birth_country = 'India'
print('Birth Place:', birth_country)

Name: Sumit

NameError: ignored

<br><br><br><br><br><br><br><br><br><br><br><br>

## Expression
An expression is a combination of value, variable, operators and function calls. Interpreter evaluates an expression and produces a value. Values and variables by itself are expressions.

In [ ]:
1 + 5

6

In [ ]:
name

'Sumit'

Expressions, when evaluated by the interpreter, always return a value. It can be assigned to a variable using assignment statements.

<br><br><br><br><br><br><br><br><br><br><br><br>

## Operators and Operands

**Operators** are some special symbols that perform certain operations on values and variables. The values and variables on which they act are called **operands**.

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

### Unary Operators

These operator operate only on 1 operand. 
<table>
    <thead>
        <tr>
            <td>Operator</td>
            <td>Meaning</td>
            <td>Example</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> + </td>
            <td>Unary Plus</td>
            <td>+ 2</td>
        </tr>
        <tr>
            <td> - </td>
            <td>Unary Minus</td>
            <td>- 6</td>
        </tr>
    </tbody>
</table>

In [ ]:
x = 1
print('Value of x is ', x)
y = x + 10
print('Value of y is ', y)

Value of x is  -1
Value of y is  9

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

### Arithmetic Operators
These operators perform certain numerical operations on their operands
<table>
    <thead>
        <tr>
            <td>Operator</td>
            <td>Meaning</td>
            <td>Expression(Eg.)</td>
            <td>Evaluated Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> + </td>
            <td>Addition</td>
            <td>10 + 2</td>
            <td>12</td>
        </tr>
        <tr>
            <td> - </td>
            <td>Subtraction</td>
            <td>8 - 6</td>
            <td>2</td>
        </tr>
        <tr>
            <td> * </td>
            <td>Multiplication</td>
            <td>11 * 8</td>
            <td>88</td>
        </tr>
        <tr>
            <td> / </td>
            <td>Division</td>
            <td>22 / 4</td>
            <td>5.5</td>
        </tr>
        <tr>
            <td> // </td>
            <td>Floor Division</td>
            <td>22 // 4</td>
            <td>5</td>
        </tr>
        <tr>
            <td> % </td>
            <td>Modulo</td>
            <td>22 % 4</td>
            <td>2</td>
        </tr>
        <tr>
            <td> ** </td>
            <td>Exponentation</td>
            <td>2 ** 4</td>
            <td>16</td>
        </tr>
    </tbody>
</table>

In [ ]:
22 / 4 # dividing a value by another value

5.5

In [ ]:
a = 22
b = 4
a // b # Floor division of a variable with another variable

5

In [ ]:
a % 4 # Modulus operation of a variable by a value

2

<br><br><br><br><br><br><br><br>

You can group expressions using the **parenthesis operator**

In [ ]:
(3 + 2) * 10 * (6 + 4)

500

**Note:** Without explictly using the print statements, notebooks display the evaluated value of the last expression in a cell.

In [ ]:
a = 22
a % 2
print(a % 3)
a % 4

1

2

If it were a python script, it would not have been printed without the print statement.

```
# test.py file
a = 22
a % 2
print(a % 3)
a % 4
```
```
$ python test.py
1
```

<br><br><br><br><br><br><br><br><br><br>

Consider the following expression. Unlike a simple calculator, the expression is evaluated as per standard mathematical rules. The precedence is given as follows:
- Parenthesis
- Exponential
- Multiplication, Division, Modulo
- Addition, Subtraction

In [ ]:
3 + 4 * 5 * (3 * (1 + 2) + 1)

203

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

### Comparision Operators

These operators are used to compare operands and return the evaluated truth values (boolean).

<table>
    <thead>
        <tr>
            <td>Operator</td>
            <td>Meaning</td>
            <td>Expression(Eg.)</td>
            <td>Evaluated Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> == </td>
            <td>Equals</td>
            <td> 4 == 5 </td>
            <td>False</td>
        </tr>
        <tr>
            <td> != </td>
            <td>Not Equals</td>
            <td> 4 != 5 </td>
            <td>True</td>
        </tr>
        <tr>
            <td> > </td>
            <td>Greater than</td>
            <td> 15 > 15 </td>
            <td>False</td>
        </tr>
        <tr>
            <td> >= </td>
            <td>Greater than or Equal to</td>
            <td> 15 >= 15 </td>
            <td>True</td>
        </tr>
        <tr>
            <td> < </td>
            <td>Less Than</td>
            <td> 15 < 15 </td>
            <td>False</td>
        </tr>
        <tr>
            <td> <= </td>
            <td>Less than or Equal to</td>
            <td> 15 <= 15 </td>
            <td>True</td>
        </tr>
    </tbody>
</table>

In [ ]:
4 == 5

False

In [ ]:
a = 10
b = 2

# Here we are evaluating the expression in the parenthesis and comparing if the resulting value is 0
(a % b) == 0

True

<br><br><br><br><br><br><br><br>

### Logical Operators

There operators are used to perform logical operation on their operands and return the truth value (boolean).

<table>
    <thead>
        <tr>
            <td>Operator</td>
            <td>Meaning</td>
            <td>Expression(Eg.)</td>
            <td>Evaluated Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> and </td>
            <td> Logical And </td>
            <td> True and False </td>
            <td> False </td>
        </tr>
        <tr>
            <td> or </td>
            <td> Logical Or </td>
            <td> True or False </td>
            <td> True </td>
        </tr>
        <tr>
            <td> not </td>
            <td> Logical Not </td>
            <td> not True </td>
            <td> False </td>
        </tr>
    </tbody>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

Consider the following statements:
```
You will pass the exam if:
- You get > 60 in the theory test
- You get > 80 in the practical test
```

Say you scored 65 in theory and 70 in practical. Did you pass the test?

Depends on the condition between the two criterias (AND / OR)

In [ ]:
# Create two variables and store the scores
theory_test_score = 65
practical_test_score = 70

In [ ]:
# Compare the scores with the passing scores 

# OR 
pass_fail_or_criteria = theory_test_score > 60 or practical_test_score > 80 # True or False
print('Did you pass the test (OR between the criteria)?:', pass_fail_or_criteria)

# AND 
pass_fail_and_criteria = theory_test_score > 60 and practical_test_score > 80 # True and False
print('Did you pass the test (AND between the criteria)?:', pass_fail_and_criteria)

Did you pass the test (OR between the criteria)?: True
Did you pass the test (AND between the criteria)?: False

<br><br><br><br><br><br><br><br><br><br><br><br>

Consider the following statement:
```
If you did not fail the test, then you passed it
```

You get to know that you did not fail the test. Did you pass the test?

In [ ]:
failed = False
print('Did you pass the test?', not failed)

Did you pass the test? True

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

####Truth Tables

<table>
  <td>
    <table>
      <tr>
        <td> <b> AND </b> </td>
        <td> <b> False </b> </td>
        <td> <b> True </b> </td>
      </tr>
      <tr>
        <td> <b> False </b> </td>
        <td> False </td>
        <td> False </td>
      </tr>
      <tr>
        <td> <b> True </b> </td>
        <td> False </td>
        <td> True </td>
      </tr>
    </table>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
    <table>
      <tr>
        <td> <b> OR </b> </td>
        <td> <b> False </b> </td>
        <td> <b> True </b> </td>
      </tr>
      <tr>
        <td> <b> False </b> </td>
        <td> False </td>
        <td> True </td>
      </tr>
      <tr>
        <td> <b> True </b> </td>
        <td> True </td>
        <td> True </td>
      </tr>
    </table>
  </td>

  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
    <table>
      <tr>
        <td> <b> NOT </b> </td>
        <td> <b> False </b> </td>
        <td> <b> True </b> </td>
      </tr>
      <tr>
        <td>  </td>
        <td> True </td>
        <td> False </td>
      </tr>
      <tr>
        <td>  </td>
        <td>  </td>
        <td>  </td>
      </tr>
    </table>
  </td>
</table>

**Note:** Logical operators don't work as expected on numpy arrays. We will see that later. Numpy has special functions to perform these operation. It overrides some other special operators (&, ^, ~) to perform logical operations on numpy arrays

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

### Problem

Store a value of 126 in variable x.
Check if the number passes two criteria
- The number is even AND
- The number is divisible by 7

Hint: Use combination Modulo operator, comparision operator and logical operators

#### Solution

In [ ]:
x = 126
result = x % 2 == 0 and x % 7 == 0
print('Passes criteria?: ', result)

Passes criteria?:  True

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

### Assignment Operators

These operators are used to assign values to variables.

For each of the below examples **assume the value of the x was 10** before assignment in each row.
<table>
    <thead>
        <tr>
            <td>Operator</td>
            <td>Meaning</td>
            <td>Expression(Eg.)</td>
            <td>Value after assignment</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> = </td>
            <td>Assign</td>
            <td>x = 3</td>
            <td>3</td>
        </tr>
        <tr>
            <td> += </td>
            <td>Add and Assign</td>
            <td>x += 2</td>
            <td>12</td>
        </tr>
        <tr>
            <td> -= </td>
            <td>Subtract and Assign</td>
            <td> x -= 2</td>
            <td>8</td>
        </tr>
        <tr>
            <td> *= </td>
            <td>Multiply and Assign</td>
            <td>x *= 2</td>
            <td>20</td>
        </tr>
        <tr>
            <td> /= </td>
            <td>Divide and Assign</td>
            <td>x /= 2</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td> //= </td>
            <td>Floor Divide and Assign</td>
            <td>x //= 2</td>
            <td>5</td>
        </tr>
        <tr>
            <td> %= </td>
            <td>Modulus and Assign</td>
            <td>x %= 2</td>
            <td>0</td>
        </tr>
        <tr>
            <td> **= </td>
            <td>Exponential and assign</td>
            <td>x **= 2</td>
            <td>100</td>
        </tr>
    </tbody>
</table>

In [ ]:
x = 10
x = 3
print(x)

3

In [ ]:
x = 10
# x += 2
x = x + 2
print(x)

12

In [ ]:
x = 10
x **= 2
print(x)

100

In [ ]:
x = 10
x %= 2
print(x)

0

<br><br><br><br><br><br><br><br>

### Precedence of operators

Below is the order or precedence (highest to lowest). When operator have similar precidence, they are evaluated from left to right.
 - Parenthesis
 - Exponential
 - Unary (+, -)
 - Multiplication, Division, Modulo
 - Addition, Subtraction
 - Comparision 
 - Logical NOT
 - Logical AND 
 - Logical OR
 - Assignment

In [ ]:
x = - 100 * - 2 - 2 * 20 + 10 ** 2 / 4 / 10 % 2 
# 200 - 40 + 0.5
print(x)

160.5

In [ ]:
x = - 100 * - 2 - 2 * (20 + 10 ** 2 / 4) / 10 % 2
print(x)

199.0

<br><br><br><br><br><br><br><br>

# Conditional Execution

We saw earlier that python interpreter runs code from start to end in sequence. However, sometimes you may want to run some part of the program only if some condition is satisfied. 

For example, when user enters a number, we would like to find whether the number is even or not and display outputs accordingly.

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

## if statement

```
if condition:
    body (statements to execute if the condition is True)
```
<br><br>

In [ ]:
user_input = input('Enter a number: ')
print('\nEntered number is ', user_input)
print('Default data type of return value of input function:', type(user_input))

Enter a number: 11

Entered number is  11
Default data type of return value of input function: <class 'str'>

In [ ]:
# convert to integer
user_input = int(user_input)
print('\nAfter conversion:', type(user_input))

After conversion: <class 'int'>

In [ ]:
if (condition) 
{
cout<<'Hello';   
}

SyntaxError: ignored

In [ ]:
print('Start')
if user_input % 2 == 0:
  print('The reminder when divided by 2 is 0')
  print('The entered number is even.')

print('Done')

Start
Done

In the above cell, you see 2 lines of code. Notice that the indentation of these two lines is different.

The indented code is the body of the `if` conditional. This code is executed only if the condition is True.

<br><br><br><br><br><br><br><br>

## if else statement

In the above case, if the condition of the `if` statement was not true, nothing was printed. Sometimes we may want to do some other thing if the condition specified in the `if` statement is False. In such scenario we use the `if ... else` statements.

```
if condition:
    statements to execute if the condition is True
else:
    statements to execute if the condition is False
```

In [ ]:
user_input = input('Enter a number: ')
print('\nEntered number is ', user_input)
print('Default data type of return value of input function:', type(user_input))
# convert to integer
user_input = int(user_input)
print('\nAfter conversion:', type(user_input))

print('Start')

if user_input % 2 == 0:
  print('The reminder when divided by 2 is 0')
  print('The entered number is even.')
else:
  print('The reminder when divided by 2 is 1')
  print('The entered number is odd.')

print('Done')

Enter a number: 11

Entered number is  11
Default data type of return value of input function: <class 'str'>

After conversion: <class 'int'>
Start
The reminder when divided by 2 is 1
The entered number is odd.
Done

<br><br><br><br><br><br><br><br>

## if elif else statement

Sometimes you may have multiple conditions, and based on which condition is valid, you may want to execute only the body of the conditional which is valid. In suce cases you can use `if...elif...else` statements.

`elif` is an abbreviation for `else if`.

You can have as many conditions as you like, but **only the body of the FIRST encountered valid conditional is executed**

The structure of `if...elif...else` is as follows:

```
if condition_1:
      statements to execute if the condition_1 is True
elif condition_2:
    statements to execute if the condition_2 is True
...
elif condition_n:
    statements to execute if the condition_n is True
else:
    statements to execute if all the above conditions are False
```
<br><br><br><br><br><br><br><br>

Consider the following example

In [ ]:
# Ask user choice and store it in a variable
# Depending on the choice of the exam module ask questions to the user

exam_choice = input('''Which exam would you like to take?
a. Java
b. Python
c. C++

Enter your choice (a/b/c): 
''')

# Display the statements based on user selection
if exam_choice == 'a':
  print('You have choosen Java.')
  print('You will have 20 questions to answer.')
elif exam_choice == 'b':
  print('You have choosen Python.')
  print('You will have 10 questions to answer.')
elif exam_choice == 'c':
  print('You have choosen C++.')
  print('You will have 15 questions to answer.')
else:
  # Executes if you have choosen anything else other than a/b/c
  print('Invalid Choice')

Which exam would you like to take?
a. Java
b. Python
c. C++

Enter your choice (a/b/c):
h
Invalid Choice

<br><br><br><br><br><br><br><br><br><br><br><br>

## Nested Conditionals

Consider the following problem:

We want the user to input 2 numbers.
- Check if the two numbers are equal or not and print a message accordingly. ie "Equal" or "Not equal"
- If the numbers are not equal, print the greater of the two numbers.

In [ ]:
x = int(input('Enter the first number, x :'))
y = int(input('Enter the second number, y :'))


if x == y:
  print('x and y are equal')
elif y > x:
  print('x and y are not equal')
  print('y is greater than x')
else:
  print('x and y are not equal')
  print('x is greater than y')

Enter the first number, x :10
Enter the second number, y :20
x and y are not equal
y is greater than x

In the above cell we are repeating the print statement twice. We would like to avoid this. 

In order to do so, we can use **nested conditionals** as follows.

In [ ]:
if x == y:
  print('x and y are equal')
else:
  print('x and y are not equal')

  if y > x:
    print('y is greater than x')
  else:
    print('x is greater than y')

x and y are not equal
y is greater than x

We can have **as many levels of nesting as we like** and we can use any of the constructs described above.

Just make sure that the **indentation** is done correctly.

<br><br><br><br><br><br><br><br><br><br><br><br>

##Examples

### Problem

Compute the weekly pay of an employee with following criteria:
- If the employee has worked for up to 40 hours, the pay rate is 10 eur/hr
- For every extra hour, they get 1.5 times the regular pay rate

Hint:
- Get working hours from the user as input and store it in a variable as an integer
- Use `if...else` conditional and perform salary computations accordingly and store the result in a variable
- Display the result to the user

#### Solution

In [ ]:
working_hours = int(input('Enter the number of hours worked: '))
# working_hours = input('Enter the number of hours worked: ')
# working_hours = int(working_hours)
regular_pay = 10

if working_hours <= 40:
  # pay only the regular pay
  salary = working_hours * regular_pay
else:
  # for the first 40 hours they get regular pay, for every extra hour they get 1.5 * regular pay
  salary = 40 * regular_pay + (working_hours - 40) * (1.5 * regular_pay)
  

print('Salary:', salary, 'EUR')

Enter the number of hours worked: 41
Salary: 415.0 EUR

<br><br><br><br><br><br><br><br>

### Problem

Ask the user to enter their score. 
- If the score is less than 0 or greater than 100 then print invalid score
- If score is greater than or equal to 80, the grade is A
- If the score is between 60-80 the grade is B
- If the score is between 40-60 the grade is C
- If the grade is less than 40 then the student failed the test

Hint:
- Get score from the user as input and store it in a variable as an integer
- Use `if...elif...else` conditional to compare the score and print accordingly

#### Solution

In [ ]:
score = int(input('Enter the score: '))

if score > 100 or score < 0:
  print('Invalid Score!')
elif score >= 80:
  print('Grade: A')
elif score >= 60:
  print('Grade: B')
elif score >= 40:
  print('Grade: C')
else:
  print('Failed')

Enter the score: 100
Grade: A

<br><br><br><br><br><br><br><br>

### Problem

Correct the following program:

In [ ]:
score = int(input('Enter the score: '))

# Modify the first 3 conditions by adding additional constraint
if score >= 40: 
  print('Grade: C')
elif score >= 60:
  print('Grade: B')
elif score >= 80:
  print('Grade: A')
elif score > 100 or score < 0:
  print('Invalid Score!')
else:
  print('Failed')

Enter the score: 100
Grade: C

#### Solution

In [ ]:
score = int(input('Enter the score: '))


if score >= 40 and score < 60:
  print('Grade: C')
elif score >= 60 and score < 80:
  print('Grade: B')
elif score >= 80 and score <= 100:
  print('Grade: A')
elif score > 100 or score < 0:
  print('Invalid Score!')
else:
  print('Failed')

Enter the score: 100
Grade: A

In [ ]:
count = []
for i in range(10):
  count.append(i)

<br><br><br><br><br><br><br><br>

# Iteration

Consider the following problem:
```
Print the first 10 natural numbers. 
```
To do this you need to write **repetetive code**. This is an **iterative statement**. You start with an initial value of 1 (the first natural number) and display it. Then you increment it again by 1 and display the resulting value. You repeat this till 10 times to display first

In [ ]:
x = 1
print(x)
x += 1
print(x)
x += 1
print(x)
# repeat this 10 times

1
2
3

What if you want to display first 1 million natural numbers. Would you copy the statement so many times?

An efficient way to do this is to use **loops**. There are two types of loops in python: `while` and `for`.

The general pattern of both the loops is similar. 
- You initialize/create a loop variable 
- The looping condition is checked. 
- If the condition holds, the body of the loop is executed
- The loop variable is updated.
- The procedure is repeated till the looping condition is valid.

Let's look at each of these in detail.

<br><br><br><br><br><br><br><br><br><br><br><br>

## while loop
The general structure of `while` loop is as follows:
```
while condition:
  body
```

`while` loop executes the statement in the body as long as the condition is `True`.

In [ ]:
i = 1          # Loop variable
if i <= 10:    # if condition
  print(i) 
  i+=1

1

In [ ]:
i = 1          # Loop variable
print('start')
while i <= 10: # Loop condition
  print(i) 
  i+=1         # Update loop variable
print('done')
print('value of i after while loop:', i)

start
1
2
3
4
5
6
7
8
9
10
done
value of i after while loop: 11

The above loop iterated for 10 times i.e. the body of the loop was executed 10 times. During the 10th iteration, i value changed to 11 and thus it did not run for the 11th time as the condition evaluated to `False`.

<br><br><br><br><br><br><br><br>

## for loop

`for` loop is used to iterate over an `iterable`. `iterable` are things over which you can iterate. Some examples of `iterable` are: string, list, set, tuple or dictionary
```
for variable_name in iterable:
  body
```

`for` loop executes the statement in the body for each element in the `iterable`

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

#### Lists (Basics)

Let's quickly look at list.

`list` is a built in data structure of python which can be used to store a list of items in a single variable. 

Consider the following list of employees.

In [ ]:
name = 'sumit' # Assigned string

employee_list = ['Luca', 'Chan', 'Sumit', 'Nick'] # Assigned list of string

You can access each element using its **index**. The index of elements start from 0. So in the above example, the starting index is 0 and ending index is 3.

Lengths of lists can be determined using the `len()` function.

In [ ]:
print('Element at index 0:', employee_list[0])
print('Element at index 2:', employee_list[2])
print('Length of the list:', len(employee_list))

Element at index 0: Luca
Element at index 2: Sumit
Length of the list: 4

Write a program to say Hi to all the employees

In [ ]:
for employee in employee_list:
  print('Hi ', employee)

Hi  Luca
Hi  Chan
Hi  Sumit
Hi  Nick

In every iteration, `for` loop assigns the next item in the list to the **loop variable** (in this case, the variable employee).

<br><br><br><br><br><br><br><br><br><br><br><br>

### range function

Let's also look at a handy function that is commonly with `for` loops, i.e. the `range` function.

The `range` function returns an iterable which yields a sequence of numbers which start from 0 (default) up to but not including the stop value in the increments of 1 (default). 

We will look at this in detail when we talk about iterables. For now, just follow the above definition.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(100, 110, 2):
  print(i)

100
102
104
106
108

<br><br><br><br><br><br><br><br><br><br><br><br>

Consider the following snippet. 
- There are two lists, one containing the employee names and other containing their corresponding age.

In [ ]:
employee_names = ['Sumit', 'Joe', 'Ned', 'Ian']
employee_age = [33, 30, 40, 27]

Write a program to 
- display the number of employees.
- display the names of the employees along with their age. 

We can use a for loop to iterate over the range of 0 to length of the list and use the values to index the list and access the name and age of the employee from the 2 lists.

In [ ]:
# Display the number of employees
print('Number of employees:', len(employee_names))

Number of employees: 4

In [ ]:
for i in range(len(employee_names)):
  print(i)

0
1
2
3

In [ ]:
for i in range(len(employee_names)):
  print('Employee Name: ', employee_names[i])
  print('Age: ', employee_age[i])

Number of employees: 4
Employee Name:  Sumit
Age:  33
Employee Name:  Joe
Age:  30
Employee Name:  Ned
Age:  40
Employee Name:  Ian
Age:  27

<br><br><br><br><br><br><br><br><br><br><br><br>

## continue statement

This statement is used to skip the rest of the body of the loop for the current iteration and return to the beginning of the loop. 

Let's say we want to print out all numbers between 1 and 10 which are not divisible by 4. One way to do this is as follows:

In [ ]:
for i in range(1, 11):
  if i % 4 == 0:
    continue

  print(i)

print('Done')

1
2
3
5
6
7
9
10
Done

<br><br><br><br><br><br><br><br><br><br><br><br>

## break statement

This statement is used to terminate the loop. When python interpreter executes this statement, the loop is terminated even if it has not completely iterated over all the elements.

In [ ]:

for i in range(1, 11):
  if i % 5 == 0:
    break
  print(i)

print('Done')

1
2
3
4
Done

<br><br><br><br><br><br><br><br><br><br><br><br>

## Nested loops

Just like `if ... else` construct, we can also nest while or for loops within each other as much as required. Care must be taken about indentation of the body. One must also take care of the looping variable and ensure that the loop terminates after finite iterations either due to break statement or after the conditions are satisfied.  

Consider a for loop nested inside an outer for loop. The inner loop will be executed for each value of the outer loop.

Consider the example below. 

The outer loop runs from x = 2 to 100. The inner loop tries to divide x by all numbers from 2 to n/2. If it is divisible by any number, then it is not a prime number, so we need to continue further.

In [ ]:
for x in range(2, 101):
  # a variable which stores whether x is divisible by any number or not
  is_divisible = False
  # Try to divide a number by all values from 2 to x//2
  for y in range(2, x//2 + 1): 
    # If any of the division leads to a reminder of 0, it means that the number is not prime
    if x % y == 0:
      is_divisible = True
      break
  
  # If number is not divisible then print that it is prime
  if not is_divisible:
    print(x, 'is a prime number')

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

<br><br><br><br><br><br><br><br><br><br><br><br>

# Summary

- Programming is useful to talk to the computer and express our ideas
- Python is one of the simplest yet very powerful programming language
- We learnt how to take inputs from the user using `input` function and display outputs using `print` function
- We used variables to store values and use it later in program
- We saw how to use different types of operators and create expressions.
- Complex Expressions, which contain multiple operators, are evaluated based on precidence of operators. Where the operators have same precidence, they are evaluated from left to right.
- We looked at conditional execution using `if`, `if...else` and `if...elif...else` statements
- The conditionals can be nested within each other as much as you like. Care must be taken about indentation
- We used `for` and `while` loop to perform repititive computations.
- `while` loop executes the body as long as the condition is valid. `for` loop executes the body for each element in its iterable.
- We skipped statements in the loops using `continue` and we terminated loops using `break`
- Just like conditional nesting, we saw how to use nested loops